.carousel{
    max-height:400px;
    overflow: hidden;
    position: static;
    margin-bottom: 2rem;
}

.cards-grid{
    display: grid;
    /* flex-flow: row nowrap;
    justify-content: space-evenly;
     */
    position: relative;
    margin-top:2rem;
    margin-left:3rem;

    grid-template-columns: 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5% 23.5%;
    gap:2%;
}

.card{
    background-color: var(--grey);
    height:50vh;
    width:20vw;
    padding:1rem;
    

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    color:black;
    border-radius:10px;
}

.card .invisible{
    display: none;
}

.card__img{
    width:85%;
    height:50%;
}

.card__title{
    font-size: 25px;
    margin-top:.5rem;
}

.card__description{
    margin:.5rem 0;
}

.card__button{
    color: var(--white);
    margin-top:auto;
    background-color: var(--purple);
    padding:1rem 2rem;
    border-radius:10px;
}